<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/Guru99Insurance">
        <classes>
            <class name="TestCases.LogIn.TC1_LogIn">
                <methods>
                    <include name="Login_TC1"/>
                </methods>
            </class>
            <class name="TestCases.RequestQuotation.TC1_RequestQuotation">
                <methods>
                    <include name="RequestQuotation_TC1"/>
                </methods>
            </class>
            <class name="TestCases.RequestQuotation.TC2_RequestQuotation">
                <methods>
                    <include name="RequestQuotation_TC2"/>
                </methods>
            </class>
            <class name="TestCases.RequestQuotation.TC3_RequestQuotation">
                <methods>
                    <include name="RequestQuotation3"/>
                </methods>
            </class>
            <class name="TestCases.RequestQuotation.TC4_RequestQuotation">
                <methods>
                    <include name="RequestQuotation_TC4"/>
                </methods>
            </class>
            <class name="TestCases.RequestQuotation.TC5_RequestQuotation">
                <methods>
                    <include name="RequestionQuotation_TC5"/>
                </methods>
            </class>
            <class name="TestCases.RequestQuotation.TC6_RequestQuotation">
                <methods>
                    <include name="RequestionQuotation_TC6"/>
                </methods>
            </class>
            <class name="TestCases.SaveQuotation.TC1_SaveQuotation">
                <methods>
                    <include name="SaveQuotation_TC1"/>
                </methods>
            </class>
            <class name="TestCases.SaveQuotation.TC2_SaveQuotation">
                <methods>
                    <include name="SaveQuotation_TC1"/>
                </methods>
            </class>
            <class name="TestCases.Userregistration.TC1_UserRegistration">
                <methods>
                    <include name="UserReg_TC1"/>
                </methods>
            </class>
            <class name="TestCases.Userregistration.TC2_UserRegistration">
                <methods>
                    <include name="UserReg_TC2"/>
                </methods>
            </class>
            <class name="TestCases.Userregistration.TC3_UserRegistration">
                <methods>
                    <include name="UserReg_TC3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>